
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/forgotpassword.css">
}

<div class="container-forgot">
    <div class="forgot-left">
        <div class="forgot-left__img">
            <img src="assert/image/background/bg-form.jpg" alt="">
        </div>
    </div>
    <div class="forgot-right">
        <div class="forgot-right__header">
            <h1 class="forgot-right__header--heading">Welcome Back!</h1>
            <p class="forgot-right__header--des">Please use the account you have been give to forgot!</p>
        </div>
        <div class="forgot-right__form">
            <form action="">
                <p class="warning hide_v">Complete Full Infomation, Please !</p>
                <div class="forgot-input">
                    <label>Email</label>
                    <input type="text" name="email">
                </div>

                <div class="forgot-right__btn">
                    <button type="submit">
                        <a href="">CONFIRM</a>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

