
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/checkout.css">
}

<div class="container-checkout">
    <div class="checkout-left">
        <div class="checkout-left__header">
            <h2 class="checkout-left__header--heading">Payment Details</h2>
        </div>
        <div class="checkout-left__form">
            <form action="">
                <div class="checkout-left__form--input">
                    <label>Full Name</label>
                    <input type="text">
                </div>
                <div class="checkout-left__form--input">
                    <label>Address</label>
                    <input type="text">
                </div>
                <div class="checkout-left__form--input">
                    <label>Phone Number</label>
                    <input type="text">
                </div>
                <div class="checkout-left__form--input">
                    <label>Email</label>
                    <input type="text">
                </div>
                <div class="checkout-left__form--input">
                    <label>Note </label>
                    <textarea></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="checkout-right">
        <div class="checkout-right__header">
            <h2 class="checkout-right__header--heading">Order Details</h2>
        </div>
        <div class="checkout-right__bill">
            <div class="checkout-right__bill--title">
                <span>Product</span>
                <span>Price</span>
            </div>
            <div class="checkout-right__bill--info">
                <span>Hublot 2022</span>
                <span>x 10</span>
                <span class="info-price">$15.156</span>
            </div>
            <div class="checkout-right__bill--info">
                <span>Hublot 2022</span>
                <span>x 10</span>
                <span class="info-price">$15.156</span>
            </div>
            <div class="checkout-right__bill--info">
                <span>Hublot 2022</span>
                <span>x 10</span>
                <span class="info-price">$15.156</span>
            </div>
            <div class="checkout-right__bill--info">
                <span>Hublot 2022</span>
                <span>x 10</span>
                <span class="info-price">$15.156</span>
            </div>
            <div class="checkout-right__bill--title">
                <span>Subtotal</span>
                <span>$59.123</span>
            </div>
            <div class="checkout-right__bill--title">
                <span>Ship</span>
                <span>Free Shipping</span>
            </div>
            <div class="checkout-right__bill--title">
                <span>Payment Method</span>
                <span>Cash</span>
            </div>
            <div class="checkout-right__bill--btn">
                <button>
                    <a href="">CHECKOUT</a>
                </button>
            </div>
        </div>
    </div>
</div>

