
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/about.css">
}

<div class="container-about">
    <div class="about-header">
        <h2 class="about-header__heading">About Store</h2>
    </div>
    <div class="about-text">
        <p class="about-text__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?</p>

        <p class="about-text__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?</p>

        <p class="about-text__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?</p>

        <p class="about-text__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?</p>

        <p class="about-text__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi fugit deleniti? Doloribus recusandae quisquam, dolor porro reiciendis enim quaerat possimus, odio delectus aperiam, molestias saepe autem ullam tenetur dignissimos?
        </p>
    </div>

</div>

