@model List<WatchShop.Models.Product>
@{
    ViewBag.Title = "Brand";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/short-list-product.css">
    <link rel="stylesheet" href="~/Content/css/one-product.css">
    <link rel="stylesheet" href="~/Content/css/product.css">
}

<!-- PRODUCT START  -->
<div id="products">
    <div class="list-product">
        @foreach (var pr in Model)
        {
            <div class="product-item">
                <a href="~/Product/ProductDetail?Id=@pr.Id">
                    <div class="discount">
                        <span>@pr.Discount%</span>
                    </div>
                    <div class="image">
                        <img src=@Url.Content("/Content/image/product/" + pr.Avatar)>
                    </div>
                    <div class="name">
                        <span>@pr.Name</span>
                    </div>
                    <div class="price">
                        <span class="old">$@pr.Price</span>
                        <span class="new">$@(pr.Price * (1 - pr.Discount / 100))</span>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="btns">
        <button class="load-more">
            <span>Load more</span>
        </button>
    </div>
</div>
<!-- PRODUCT END  -->

@section AddJS{
    <script>
            $(document).ready(function () {
                $(".load-more").click(function () {
                    var npr = document.getElementsByClassName("product-item").length;
                    $.ajax({
                        url: "/Product/LoadMoreBrand",
                        type: "GET",
                        dataType: "json",
                        data: { count: npr, brand: "@ViewBag.Brand" },
                        contentType: "application/json; charset=utf-8",
                        success: function (rp) {
                            if (rp != "") {
                                $(".list-product").append(rp)
                            } else {
                                $(".load-more").parent().remove()
                            }
                        },
                        error: function (ex) {
                            console.log("error")
                        }
                    });
                });
            });
    </script>
}