
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/short-list-product.css">
    <link rel="stylesheet" href="~/Content/css/one-product.css">
    <link rel="stylesheet" href="~/Content/css/product.css">
}

<!-- PRODUCT START  -->
<div id="products">
    <div class="list-product">
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
        <div class="product-item">
            <a href="product_detail.html">
                <div class="discount">
                    <span>30%</span>
                </div>
                <div class="image">
                    <img src="assert/image/product/cckt03_1.jpg">
                </div>
                <div class="name">
                    <span>San pham 1</span>
                </div>
                <div class="price">
                    <span class="old">$1000</span>
                    <span class="new">$500</span>
                </div>
            </a>
        </div>
    </div>
    <div class="btns">
        <button class="load-more">
            <span>Load more</span>
        </button>
    </div>
</div>
<!-- PRODUCT END  -->