<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet" />

    <!-- CSS  -->
    <link rel="stylesheet" href="~/Content/css/base.css">
    <link rel="stylesheet" href="~/Content/css/headers.css">
    <link rel="stylesheet" href="~/Content/css/footer.css">
    <link rel="stylesheet" href="~/Content/css/breadcrumb.css">
    @if (IsSectionDefined("AddCSS"))
    {
        @RenderSection("AddCSS", required: false)
    }

</head>
<body>
    <!--HEADER-->
    <div class="header">

        <div class="menu-mobile">
            <div class="close-menu-mobile">
                <span><i class="fa fa-close"></i></span>
            </div>
            <div class="search-mobile">
                <input type="text" id="search-input-mobile" name="search-input" placeholder="Search">
                <button class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <hr />
            <ul class="p-menu">
                <li><a href="./index.html">HOME </a></li>
                <li><a href="./about.html">ABOUT </a></li>
                <li>
                    <div class="toggle-icon">
                        <span><i class="fa fa-angle-down"></i></span>
                    </div>
                    <a href="/product.html">BRAND </a>
                    <ul class="submenu">
                        <li><a href="#">Orient</a></li>
                        <li><a href="#">Casio</a></li>
                        <li><a href="#">Titan</a></li>
                        <li><a href="#">Citizen</a></li>
                    </ul>
                </li>
                <li><a href="./product.html">WATCH MEN </a></li>
                <li><a href="./product.html">WATCH WOMEN </a></li>
                <li><a href="./contact.html">CONTACT</a></li>
            </ul>
        </div>

        <div class="nav">
            <div class="active-menu-mobile">
                <a><i class="fa fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href="~/Home"><img src=@Url.Content("/Content/image/logo.png") width="150" /></a>
            </div>
            <div class="search">
                <input type="text" id="search-input" name="search-input" placeholder="Search">
                <button class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <div class="btns-customer">
                <ul class="btns">
                    @if (Session["CAvatar"] == null)
                    {
                        <li class="user">
                            <a class="user-icon">
                                <i class="fa fa-user"></i>
                            </a>
                            <ul class="btns-customer-submenu">
                                <li><a href="~/Login">Login</a></li>
                                <li><a href="~/Register">Register</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="user">
                            <a class="user-avt" href="./personal.html">
                                <img src=@Url.Content("/Content/image/avatar/" + Session["CAvatar"]) width=60px></img>
                            </a>
                            <ul class="btns-customer-submenu">
                                <li><a href="./personal.html">Personal Info</a></li>
                                <li><a href="./forgotpassword.html">Log out</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="./cart.html" class="shop-cart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <ul class="p-menu">
                <li><a href="./index.html">HOME </a></li>
                <li><a href="./about.html">ABOUT</a></li>
                <li>
                    <a href="/product.html">BRAND </a>
                    <ul class="submenu">
                        <li><a href="#">Orient</a></li>
                        <li><a href="#">Casio</a></li>
                        <li><a href="#">Titan</a></li>
                        <li><a href="#">Citizen</a></li>
                    </ul>
                </li>
                <li><a href="./product.html">WATCH MEN </a></li>
                <li><a href="./product.html">WATCH WOMEN </a></li>
                <li><a href="./contact.html">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <!--HEADER-->
    <!-- BREADCRUMB START -->
    <div class="bg-breadcrumb">
        <div class="container-breadcrumb ">
            <div class="breadcrumb-header">
                <h2 class="breadcrumb-header__heading">ABOUT</h2>
            </div>
            <div class="breadcrumb-link">
                <p>HOME <span>/ ABOUT</span></p>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- FOOTER START  -->
    <footer>
        <div class="container-footer">
            <div class="footer-col">
                <ul>
                    <h3 class="footer-col__heading">Infomation Store</h3>
                    <li class="footer-item">
                        <a href="">
                            Address: Linh Trung Ward, Thu Duc, Ho Chi Minh City
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="">Website: https://galle.vn</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Fanpage: watchstore</a>
                    </li>

                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <h3 class="footer-col__heading">Product</h3>
                    <li class="footer-item">
                        <a href="">Watch Men</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Watch Women</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Casio Watch</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Titan Watch</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <h3 class="footer-col__heading">My Account</h3>
                    <li class="footer-item">
                        <a href="">Login</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Register Account</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Forgot Password</a>
                    </li>
                    <li class="footer-item">
                        <a href="">Shopping Cart</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col">

                <ul>
                    <h3 class="footer-col__heading">Contact</h3>
                    <li class="footer-item">
                        <a href="">
                            +84 333 666 999
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="">
                            watchstore@gmail.com
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="">
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="">
                            Intagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-btn">
            <button id="scroll-to-top">
                <i class="fas fa-angle-up"></i>
            </button>
        </div>

        <!-- MOBLIE FOOTER  -->

        <div class="container-footer-moblie">
            <div class="footer-col-moblie">
                <h4 class="footer-col-moblie__heading">Infomation Store</h4>
                <ul>
                    <li class="footer-item-moblie">
                        <a href="">+84 333 666 999</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">watchstore@gmail.com</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Facebook </a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Intagram </a>
                    </li>
                </ul>

            </div>

            <div class="footer-col-moblie">
                <h4 class="footer-col-moblie__heading">Product</h4>
                <ul>
                    <li class="footer-item-moblie">
                        <a href="">Watch Men</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Watch Women</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Casio Watch</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Titan Watch</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col-moblie">
                <h4 class="footer-col-moblie__heading">My Account</h4>
                <ul>
                    <li class="footer-item-moblie">
                        <a href="">Login</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Register Account</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Forgot Password </a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Shopping Cart </a>
                    </li>
                </ul>
            </div>

            <div class="footer-col-moblie">
                <h4 class="footer-col-moblie__heading">Contact</h4>
                <ul>
                    <li class="footer-item-moblie">
                        <a href="">+84 333 666 999</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">watchstore@gmail.com</a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Facebook </a>
                    </li>
                    <li class="footer-item-moblie">
                        <a href="">Intagram </a>
                    </li>
                </ul>
            </div>
        </div>

    </footer>
    <!-- FOOTER END -->
    @if (IsSectionDefined("AddJS"))
    {
        @RenderSection("AddJS", required: false)
    }

 
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/js/header.js"></script>
    <script src="~/Content/js/scroll.js"></script>


       <!-- co cai nay thi validation chay -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>