@model WatchShop.Models.Customer
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/personal.css">
}

<div class="contain">
    <div class="nav">
        <div class="user">
            <div class="avt">
                <img src=@Url.Content("/Content/image/avatar/" + Model.Avatar) width="100" />
            </div>
            <div class="nickname">
                <span>@Model.FullName</span>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#tab-about">About</a></li>
                <li><a href="#tab-order">Order</a></li>
                <li><a href="#tab-address">Adress</a></li>
                <li><a href="#tab-password">Change password</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-item" id="tab-about">
            <div class="title">
                <span>My information</span>
            </div>
            <form>
                <div class="form-item">
                    <label>Full name</label>
                    <input type="text" id="fname" name="fname" value="@Model.FullName" />
                </div>
                <div class="form-item">
                    <label>Email</label>
                    <span>@Model.Email</span>
                </div>
                <div class="form-item">
                    <label>Phone</label>
                    <span>@Model.Phone</span>
                </div>
                <div class="form-item">
                    <label>Gender</label>
                    <input type="radio" id="male" name="gender" value="Male" checked=@(Model.Gender.Equals("Male"))>
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female" checked=@(Model.Gender.Equals("Female"))>
                    <label for="male">Female</label>
                </div>
                <input type="submit" name="submit" value="Save" />
            </form>
        </div>
        <div class="tab-item" id="tab-order">
            <div class="title">
                <span>My order</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Id Order</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Order 01</td>
                        <td>$1000</td>
                        <td>Delivered</td>
                        <td>
                            <a href="">Remove</a>
                            <a href="">Go</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-item" id="tab-address">
            <div class="title">
                <span>My address</span>
            </div>
            <form action="">
                <div class="form-item">
                    <label>Full name</label>
                    <input type="text" name="fname" value="Nguyễn Minh Châu" />
                </div>
                <div class="form-item">
                    <label>Phone</label>
                    <input type="text" name="phone" value="0865703869" />
                </div>
                <div class="form-item">
                    <label>Address</label>
                    <input type="text" name="address" value="Tăng long 2, TQN, Hoài Nhơn, Bình Định">
                </div>
                <input type="submit" value="Save">
            </form>
        </div>
        <div class="tab-item" id="tab-password">
            <div class="title">
                <span>Change password</span>
            </div>
            <form action="">
                <div class="form-item">
                    <label>Old password</label>
                    <input type="password" name="old_password" value="140601">
                </div>
                <div class="form-item">
                    <label>New password</label>
                    <input type="password" name="new_password" value="123456789">
                </div>
                <div class="form-item">
                    <label>Confirm password</label>
                    <input type="password" name="comfirm_password" value="123456789">
                </div>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>

@section AddJS{
    <script src="~/Content/js/personal.js"></script>
}