
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/cart.css">
}

<div class="container-cart">
    <div class="cart-list">
        <div class="cart-list__item">
            <div class="cart-btn-select">
                <input type="checkbox">
            </div>
            <div class="cart-list__item--img">
                <a href="">
                    <img src="assert/image/product/cckt01_1.jpg" alt="">
                </a>
            </div>
            <div class="cart-list__item--name">
                <a href=""> CHRONOGRAPH TITANIUM BLUE</a>
            </div>
            <div class="cart-list__item--quantity">
                <input type="number" min="1" max="20" value="1">
            </div>
            <div class="cart-list__item--price">
                <span>$159.354</span>
            </div>
            <div class="cart-btn-remove">
                <i class="fas fa-trash-alt"></i>
            </div>

        </div>
        <div class="cart-list__item">
            <div class="cart-btn-select">
                <input type="checkbox">
            </div>
            <div class="cart-list__item--img">
                <a href="">
                    <img src="assert/image/product/cckt06_1.jpg" alt="">
                </a>
            </div>
            <div class="cart-list__item--name">
                <a href=""> CHRONOGRAPH TITANIUM BLUE</a>
            </div>
            <div class="cart-list__item--quantity">
                <input type="number" min="1" max="20" value="1">
            </div>
            <div class="cart-list__item--price">
                <span>$159.354</span>
            </div>
            <div class="cart-btn-remove">
                <i class="fas fa-trash-alt"></i>
            </div>

        </div>
        <div class="cart-list__item">
            <div class="cart-btn-select">
                <input type="checkbox">
            </div>
            <div class="cart-list__item--img">
                <a href="">
                    <img src="assert/image/product/cckt27_1.jpg" alt="">
                </a>
            </div>
            <div class="cart-list__item--name">
                <a href=""> CHRONOGRAPH TITANIUM BLUE</a>
            </div>
            <div class="cart-list__item--quantity">
                <input type="number" min="1" max="20" value="1">
            </div>
            <div class="cart-list__item--price">
                <span>$159.354</span>
            </div>
            <div class="cart-btn-remove">
                <i class="fas fa-trash-alt"></i>
            </div>

        </div>
    </div>
    <div class="cart-text-total">
        <p>Total <span>$999.159</span></p>
    </div>
    <div class="container-btn-cart">
        <div class="cart-btn-back">
            <button>
                <a href="">Back</a>
            </button>
        </div>
        <div class="cart-btn-checkout">
            <button>
                <a href="">Checkout</a>
            </button>
        </div>
    </div>
</div>

