:root {
    --western-yellow: #c7aa80;
    --lite-western-yellow: #d0bfa5;
    --dark-western-yellow: #d08451;
    --lite-yellow: #ffcb91;
    --dark-yellow: #b96f00;

    --white: #ffff;
    --lite-gray: #f7f7f7;
    --gray: #b7b7b7;
    --dark-gray: #606060;

    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--western-yellow);
}

li {
    list-style: none;
}

input[type="number"]{
    text-align: center;
}

input,
textarea {
    font-size: 1.6rem;
    color: var(--black);
}

button {
    cursor: pointer;
    background-color: var(--western-yellow);
    transition: 0.4s;
}

button:hover{
    background-color: var(--dark-yellow);
}

button a {
    color: var(--white);
}

.fa-facebook-square {
    color: rgb(31, 130, 223);
}

.fa-twitter {
    color: rgb(56, 101, 184);
}

.fa-instagram {
    color: rgb(199, 136, 53);
}

.fa-youtube {
    color: rgb(223, 68, 68);
}

.fa-eye-slash {
    position: absolute;
    right: 18px;
    bottom: 18%;
    cursor: pointer;
}

.fa-eye {
    position: absolute;
    right: 18px;
    bottom: 18%;
    cursor: pointer;
}

.fa-dolly-flatbed {
    color: #ffafaf !important;
}

.fa-calendar-check {
    color: #c3b091 !important;
}

.fa-vote-yea {
    color: #5c7aea !important;
}

.fa-lock {
    color: #84dfff !important;
}

p.warning {
    background-color: rgba(233, 62, 62, 0.5);
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.transparent {
    background: transparent !important;
}

::selection {
    background-color: var(--dark-yellow);
    color: #ffffff;
}

.active-menu {
    background-color: var(--dark-yellow) !important;
}

.hide {
    display: none !important;
}

.hide_v {
    visibility: hidden !important;
}

.show {
    display: block !important;
}

#app,
#header,
#slider,
#app-content,
#footer {
    position: relative;
}