/* BREADCRUMB  */

.bg-breadcrumb {
    background-color: var(--western-yellow);
    z-index: -1;
}

.container-breadcrumb {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.breadcrumb-filter a,
.breadcrumb-filter a i,
.breadcrumb-header__heading,
.breadcrumb-link p,
.breadcrumb-link p span {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.breadcrumb-header__heading,
.breadcrumb-link p,
.breadcrumb-filter a {
    padding-left: 20px;
}

.breadcrumb-filter a {
    cursor: pointer;
}

.breadcrumb-filter a i {
    padding-bottom: 20px;
    padding-right: 10px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s linear;
    z-index: 1;
    left: -100%;
    visibility: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: 0.3s linear;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    left: -100%;
}

.openFilter {
    left: 0;
    visibility: visible;
}

.filter-price {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--western-yellow);
}

.list-price__item {
    padding: 15px 30px;
    width: 100%;
    transition: 0.25s ease;
}

.list-price__item:hover {
    background-color: var(--dark-yellow);
    cursor: pointer;
}

.list-price__item:first-child {
    margin-top: 30px;
}

.list-price__item a {
    font-weight: normal;
    color: #f5f5f5;
    font-weight: 500;
    transition: 0.1s linear;
    user-select: none;
}

.modal-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-exit {
    width: 54px;
    height: 54px;
    background-color: transparent !important;
    border: none;
    font-weight: bolder;
}

.btn-exit a i.fa-times {
    font-size: 3.2rem;
    color: white;
}

@media (max-width: 1023px) {
    .breadcrumb-filter a,
    .breadcrumb-filter a i,
    .breadcrumb-header__heading,
    .breadcrumb-link p,
    .breadcrumb-link p span,
    .breadcrumb-filter {
        text-align: center;
        padding-left: 0;
    }
}