.container-checkout {
    width: 1100px;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    font-size: 1.6rem;
}

.checkout-left__form--input {
    margin: 15px 0;
}

.checkout-left__form--input label {
    display: block;
    font-size: 1.8rem;
}

.checkout-left__form--input input {
    padding: 10px 15px;
    width: 450px;
    height: 45px;
    max-width: 100%;
    color: black;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.checkout-left__form--input textarea {
    padding: 10px 15px;
    width: 450px;
    height: 200px;
    max-width: 100%;
    color: black;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
}

.checkout-right {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 50%;
    padding: 55px 25px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.checkout-right__bill--title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}

.checkout-right__bill--title span {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 15px 0;
}

.checkout-right__bill--info {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin: 15px 0;
    border-bottom: 1px solid #dddddd;
}

.checkout-right__bill--btn button {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 20px;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
}

@media (max-width: 1023px) {
    .container-checkout {
        width: 100%;
        margin: 50px 0;
        padding: 0px 30px;
        overflow-x: hidden;
        flex-direction: column;
    }
    .register-left {
        display: none;
    }
    .checkout-left__form--input input,
    .checkout-left__form--input textarea,
    .checkout-right,
    .checkout-left {
        margin: auto;
        width: 100%;
    }
    .checkout-right {
        margin-bottom: 50px;
    }
}

@media (max-width: 739px) {
    .checkout-left__header--heading,
    .checkout-right__header--heading,
    .checkout-right__bill--title span,
    .checkout-right__bill--title span,
    .checkout-left__header--heading,
    .checkout-right__header--heading,
    .checkout-right__bill--title span,
    .checkout-left__form--input label,
    .checkout-right__bill--btn button {
        font-size: 1.4rem;
    }
}