.container-contact {
    width: 1100px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.contact-left__background img {
    width: 550px;
    margin-right: 30px;
}

.contact-left__social {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.contact-left__social i {
    font-size: 2.5rem;
}

.contact-right__header--heading {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.contact-right__header--des {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 30px;
    color: var(--gray);
}

.contact-right__form--label {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
}

.input-contact {
    margin-bottom: 30px;
}

.input-contact input {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    color: black;
    font-size: 1.6rem;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.input-contact textarea {
    width: 100%;
    height: 200px;
    font-size: 1.6rem;
    color: black;
    padding: 10px 15px;
    font-family: "Poppins", sans-serif;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.contact-right__btn button {
    cursor: pointer;
    padding: 15px 75px;
    font-size: 1.8rem;
    font-weight: bold;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

@media (max-width: 1023px) {
    .container-contact {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        flex-direction: column-reverse;
    }
    .contact-left__background img {
        display: none;
    }
    .contact-right {
        margin: 50px 30px 0 30px;
        overflow-x: hidden;
    }
}

@media (max-width: 739px) {
    .contact-right__btn button {
        padding: 10px 50px;
        font-size: 1.6rem;
    }
    .contact-left {
        margin-bottom: 50px;
    }
}