.container-forgot {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    font-size: 1.6rem;
}

.forgot-left {
    width: 40%;
    margin-top: 30px;
}

.forgot-left__img img {
    width: 550px;
}

.forgot-right {
    margin-top: 100px;
}

.forgot-right__header--heading {
    font-size: 3.2rem;
}

.forgot-right__header--des {
    font-size: 1.8rem;
    margin: 15px 0;
}

.forgot-input {
    margin-bottom: 15px;
}

.forgot-input label {
    display: block;
}

.forgot-input input {
    width: 95%;
    padding: 13px 10px;
    border: 1px solid #dddddd;
    outline-color: #dddddd;
    border-radius: 5px;
}

.forgot-select {
    display: flex;
    justify-content: space-between;
}

.forgot-right__btn button {
    width: 100%;
    padding: 10px 50px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 2px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
/* MOBILE  */
@media (max-width: 739px) {
    .forgot-right {
        width: 70%;
    }
    .forgot-right__header--heading {
        font-size: 2rem;
    }
    .forgot-right__btn button {
        font-size: 1.6rem;
    }
}

@media (max-width: 1023px) {
    .container-forgot {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .forgot-left {
        display: none;
    }
    .forgot-right {
        margin: auto;
    }
}