/*HEADER*/

.header {
    width: 1100px;
    margin: auto;
}

.header .nav {
    display: flex;
    justify-content: space-between;
}

.header .nav .active-menu-mobile {
    display: none;
}

.header .nav .logo{
    margin-left: 25px;
}

.header .search {
    position: relative;
    width: 700px;
    padding-top: 15px;
}

.header .search input[type="text"] {
    width: 89%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #b6b6b6;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header .search input[type="text"]:focus {
    outline: none;
}

.header .search .search-btn {
    display: block;
    position: absolute;
    width: 8%;
    height: 42px;
    right: 0;
    top: 15px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header .search .search-btn i {
    font-size: 20px;
    color: white;
}

.header .nav .btns-customer .btns {
    display: flex;
    margin-top: 25px;
}

.header .nav .btns-customer .btns li {
    cursor: pointer;
    margin-right:25px;
    position: relative;
}

.header .nav .btns-customer .btns .user:hover .btns-customer-submenu {
    visibility: visible;
}

.header .nav .btns-customer .btns a i {
    font-size: 27px;
    color: var(--western-yellow);
    transition: 0.4s;
}

.header .nav .btns-customer .btns li:hover a i {
    color: var(--dark-yellow);
}

.header .nav .btns-customer .btns li .btns-customer-submenu {
    position: absolute;
    width: 146px;
    padding: 0px 10px;
    top: 42px;
    left: -80px;
    background-color: var(--lite-yellow);
    border-radius: 5px;
    visibility: hidden;
    transition: 0.3s linear;
    box-shadow: rgba(0 0 0 0.35) 0px 5px 15px;
    z-index: 1;
}

.header .nav .btns-customer .btns li .btns-customer-submenu::before {
    content: "";
    position: absolute;
    border-width: 13px;
    border-color: transparent transparent var(--lite-yellow);
    border-style: solid;
    top: -26%;
    left: 80px;
}

.header .nav .btns-customer .btns li .btns-customer-submenu li {
    margin: 10px;
}

.header .nav .btns-customer .btns li .btns-customer-submenu li a {
    font-size: 1.6rem;
    color: var(--dark-yellow);
}

.header .nav .btns-customer .btns li .btns-customer-submenu li:hover a {
    color: var(--western-yellow);
}

.header .nav .btns-customer .user-avt{
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.4s;
}

.header .nav .btns-customer .user-avt:hover{
    opacity: 0.8;
}

.header .menu>ul {
    display: flex;
    justify-content: center;
}

.header .menu>ul>li {
    margin: 20px;
}

.header .menu>ul>li>a {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s linear;
    color: var(--western-yellow);
}

.header .menu>ul>li:hover>a {
    color: var(--dark-western-yellow);
}

.header .menu>ul>li .submenu {
    visibility: hidden;
    position: absolute;
    width: 200px;
    box-shadow: 0px 3px 4px 1px #7e7e7e;
    background-color: var(--lite-yellow);
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    z-index: 9;
    opacity: 0;
    transition: 0.3s linear;
}

.header .menu>ul>li .submenu::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 84%;
    height: 24px;
    top: -8%;
    left: 0;
    cursor: pointer;
}

.header .menu>ul>li .submenu::after {
    content: "";
    position: absolute;
    border-width: 15px;
    border-color: transparent transparent var(--lite-yellow) transparent;
    border-style: solid;
    top: -18%;
    left: 20px;
    cursor: pointer;
}

.header .menu>ul>li .submenu li {
    margin: 10px 20px;
    cursor: pointer;
}

.header .menu>ul>li .submenu li a {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-yellow);
}

.header .menu>ul>li .submenu li:hover a {
    color: var(--dark-western-yellow);
}

.header .menu>ul>li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/*MOBILE*/
.header .menu-mobile {
    position: absolute;
    left: -400px;
    width: 330px;
    height: 100%;
    background-color: var(--western-yellow);
    z-index: 9;
    transition: 0.4s;
}

.header .menu-mobile .close-menu-mobile {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.header .menu-mobile .close-menu-mobile span i {
    color: #ffffff;
    font-size: 20px;
}

.header .menu-mobile .close-menu-mobile:hover span i {
    color: #b6b6b6;
}

.header .menu-mobile .search-mobile {
    position: relative;
    margin: 50px 30px 35px;
}

.header .menu-mobile .search-mobile input {
    width: 75%;
    height: 36px;
    padding: 0 10px;
    color: black;
    font-size: 1.6rem;
}

.header .menu-mobile .search-mobile input:focus {
    outline: none;
}

.header .menu-mobile .search-mobile .search-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 41px;
    border: none;
    background-color: var(--dark-western-yellow);
    cursor: pointer;
}

.header .menu-mobile .search-mobile .search-btn:hover {
    background-color: var(--western-yellow);
}

.header .menu-mobile .search-mobile .search-btn i {
    color: #ffffff;
    font-size: 1.6rem;
}

.header .menu-mobile .p-menu {
    padding-top: 30px;
}

.header .menu-mobile .p-menu>li {
    padding: 10px 0px 10px 30px;
    cursor: pointer;
}

.header .menu-mobile .p-menu>li>a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    transition: 0.4s;
}

.header .menu-mobile .p-menu>li:hover {
    background-color: var(--lite-western-yellow);
}

.header .menu-mobile .p-menu>li:hover a{
    color: var(--dark-western-yellow);
}

.header .menu-mobile .p-menu>li .submenu {
    display: none;
    padding: 10px 20px;
    transition: 0.4s;
}

.header .menu-mobile .p-menu>li .submenu li {
    padding: 5px 0px;
}

.header .menu-mobile .p-menu>li .submenu li a {
    color: #ffffff;
    font-size: 18px;
    user-select: none;
    font-weight: bold;
}

.header .menu-mobile .p-menu>li .submenu li:hover a {
    color: var(--western-yellow);
}

.header .menu-mobile .p-menu .toggle-icon {
    position: absolute;
    right: 10px;
}

.header .menu-mobile .p-menu .toggle-icon span i {
    font-size: 20px;
    color: #ffffff;
    margin-top: 8px;
}

/*REPONSIVE*/
@media screen and (max-width: 1100px) {
    .header {
        width: 100%;
        padding-right: 20px;
    }
}

@media screen and (max-width: 950px) {
    .header .nav .active-menu-mobile {
        display: block;
        margin: 27px 25px;
        cursor: pointer;
    }
    .header .nav .active-menu-mobile a i {
        font-size: 27px;
        color: var(--western-yellow);
    }
    .header .search {
        display: none;
    }
    .header .menu {
        display: none;
    }
}

