.main {
    width: 1100px;
    /* display: flex; */
    margin: auto;
}

.slide-img img {
    height: 500px;
    object-fit: cover;
}

.btn-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slick-prev i,
.slick-next i {
    font-size: 1.8rem;
    color: var(--western-yellow);
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    background-color: var(--lite-gray);
    border: none;
    z-index: 2;
    padding: 12px 18px;
    cursor: pointer;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    background-color: var(--lite-gray);
    border: none;
    z-index: 2;
    padding: 12px 18px;
    cursor: pointer;
}

.label-list img {
    width: 70px;
    margin-left: 100px;
}

.featured-product__heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    text-transform: uppercase;
    transform: translateY(25px);
}

.register-noti__form {
    width: 1100px;
    display: flex;
    margin: 30px auto;
}

.register-noti__form input {
    width: 40%;
    padding: 10px;
    font-size: 1.6rem;
    color: black;
    border: 1px solid #dddddd;
    border-right: none;
    margin-left: 277px;
    outline: none;
    border-radius: 5px;
}

.register-noti__form button {
    padding: 10px 30px;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    transform: translateX(-5px);
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: uppercase;
}

.register-noti__form button:hover{
    background-color: var(--dark-yellow);
}

.register-noti__form button:hover a{
    color: var(--white);
}

.register-noti__form button a {
    color: var(--dark-yellow);
}

.container-adss {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.container-adss__content {
    background-color: var(--lite-western-yellow);
    border-radius: 5px;
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 30px 0 15px 30px;
}

.container-adss__content--heading {
    font-size: 2.5rem;
}

.container-adss__content--des {
    font-size: 1.6rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 20px;
    user-select: none;
}

.container-adss__content--link {
    font-size: 1.6rem;
    color: black;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.container-adss__content-img img {
    width: 200px;
    float: right;
}

.most-view {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: var(--lite-western-yellow);
}

.most-view__img img {
    width: 300px;
    margin-left: 100px;
}

.most-view__text {
    padding-top: 25px;
}

.most-view__text--heading {
    font-size: 2.5rem;
    padding-top: 20px;
}

.most-view__text--des {
    font-size: 1.6rem;
    padding-right: 150px;
    text-align: justify;
    padding-top: 10px;
    color: var(--black);
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.most-view__text--link {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.most-view__text button {
    padding: 10px 50px;
    border: 1px solid #dddddd;
    margin-top: 30px;
    cursor: pointer;
    background-color: var(--dark-yellow);
}

.most-view__text button:hover{
    background-color: var(--dark-western-yellow);
}


/* TABLET  */

@media (min-width: 740px) and (max-width: 1023px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .container-adss {
        flex-direction: column;
        margin: auto;
    }
    .container-adss__content {
        width: 95%;
        margin: 30px auto;
    }
    .most-view {
        width: 95%;
        margin: 30px auto;
    }
    .most-view__img img {
        width: 230px;
        background-size: cover;
        margin-left: 0px;
        margin-top: 17px;
    }
    .most-view__text {
        padding-top: 0px;
    }
    .most-view__text button {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .most-view__text--des {
        padding-right: 70px;
    }
    .register-noti__form input {
        margin-left: 100px;
    }
}


/* MOBILE  */

@media (max-width: 739px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .container-adss {
        flex-direction: column;
        margin-top: 50px;
    }
    .slide-img {
        margin: 0 15px;
    }
    .container-adss__content {
        width: 95%;
        margin-left: 10px;
    }
    .container-adss__content-img img {
        width: 130px;
    }
    .container-adss__content--heading,
    .featured-product__heading,
    .register-noti__form button,
    .most-view__text--heading,
    .most-view__text--link {
        font-size: 1.6rem;
    }
    .container-adss__content--link {
        font-size: 1.4rem;
    }
    .container-adss__content--des {
        font-size: 1.2rem;
        color: var(--black);
    }
    .most-view {
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
    }
    .most-view__text,
    .most-view__text--des {
        text-align: center;
    }
    .most-view__img img {
        margin: 0;
    }
    .most-view__text--des {
        padding: 0;
    }
    .most-view__text button {
        margin-bottom: 30px;
    }
    .register-noti {
        margin: 0 30px;
    }
    .register-noti__form input {
        margin: 0;
        width: 20%;
        height: 44px;
    }
}