.container-login {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    font-size: 1.6rem;
}

.login-left {
    width: 40%;
    margin-top: 30px;
}

.login-left__img img {
    width: 550px;
}

.login-right {
    margin-top: 100px;
}

.login-right__header--heading {
    font-size: 3.2rem;
}

.login-right__header--des {
    font-size: 1.8rem;
    margin: 15px 0;
}

.login-input {
    margin-bottom: 15px;
}

.login-input label {
    display: block;
}

.login-input input {
    width: 95%;
    padding: 13px 10px;
    border: 1px solid #dddddd;
    outline-color: #dddddd;
    border-radius: 5px;
}

.show_hide_password {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transform: translateY(-10px);
}

.show_hide_password i {
    transform: translateY(-20px);
}

.show_hide_password input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.show_hide_password label {
    cursor: pointer;
}

.login-select {
    display: flex;
    justify-content: space-between;
}

.login-right__btn button {
    width: 100%;
    padding: 10px 50px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 2px;
    border: 1px solid #dddddd;
}

/* MOBILE  */

@media (max-width: 739px) {
    .login-right {
        width: 70%;
    }
    .login-right__header--heading {
        font-size: 2rem;
    }
    .login-right__btn button {
        font-size: 1.6rem;
    }
    .login-select {
        font-size: 1.4rem;
    }
}

@media (max-width: 1023px) {
    .container-login {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    .login-left {
        display: none;
    }
    .login-right {
        margin: auto;
    }
}