#product-detail{
    width: 1100px;
    margin: auto;
    padding: 50px;
}

.container-details {
    display: flex;
    justify-content: space-between;
}

.details-left {
    display: flex;
    justify-content: space-between;
}

.details--left__img-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details--left__img-list__item img {
    width: 100px;
}

/* RIGHT  */

.details-right__header--name-product {
    font-size: 2.8rem;
    color: var(--dark-gray);
}

.details-right__header--des {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 15px;
    color: var(--gray);
}

.details-right__price-social {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.details-right__price-old {
    font-size: 2.8rem;
    color: var(--gray);
    text-decoration: line-through;
}

.details-right__price-new {
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 10px;
}

.details-right__social i {
    font-size: 2.5rem;
    margin-left: 10px;
    line-height: 38px;
}

.details-right__quantity {
    border-bottom: 1px solid #000;
    padding: 20px;
}

.details-right__quantity input[type="number"] {
    padding: 5px 0;
    font-size: 1.5rem;
}

.details-right__quantity input[type="number"]:focus{
    outline: none;
}

.details-right__policy {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.details-right__policy div {
    text-align: center;
}

.details-right__policy div i {
    font-size: 2.8rem;
    color: var(--western-yellow);
}

.details-right__policy--text {
    font-size: 1.3rem;
    color: var(--gray);
}

.details-right__btn button {
    margin-top: 30px;
    width: 100%;
    border: 1px solid #dddddd;
    outline-color: #dddddd;
    font-weight: bold;
    font-size: 2.0rem;
    cursor: pointer;
    padding: 10px 0;
}

.container-info {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.info-header__heading {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--dark-gray);
}

.insurance-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-top: 1px solid #dddddd;
}

.insurance-info p{
    color: gray;
}

.insurance-info:last-child {
    border-bottom: 1px solid #dddddd;
}

.insurance-text {
    font-size: 1.8rem;
    line-height: 3.6rem;
    margin-top: 10px;
}

.insurance-text-info {
    margin-top: 10px;
    font-size: 1.8rem;
    margin-left: 150px;
    line-height: 3.6rem;
}

@media (max-width: 1023px) {
    #product-detail{
        width: 100%;
        padding: 0;
    }
    .container-details {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        flex-direction: column;
    }
    .details-left,
    .details-right {
        flex-direction: column-reverse;
        margin: 10px 30px;
    }
    .details--left__img--main {
        text-align: center;
    }
    .details--left__img-list {
        flex-direction: row;
        width: 100%;
        overflow-x: hidden;
    }
    .container-info {
        width: 100%;
        flex-direction: column;
    }
    .insurance-info {
        justify-content: flex-start;
        justify-content: space-between;
        overflow-x: hidden;
    }
    .info-left,
    .info-right {
        margin: 0 30px;
    }
}


/* MOBILE  */

@media (max-width: 739px) {
    .details--left__img--main img {
        width: 50%;
    }
    .details--left__img-list__item img {
        width: 70%;
    }
    .details--left__img-list {
        text-align: center;
    }
    .details-right__header--name-product,
    .details-right__price-new,
    .details-right__price-old,
    .details-right__social i,
    .info-header__heading,
    .similar-product__heading {
        font-size: 2rem;
    }
    .insurance-text,
    .insurance-text-info,
    .details-right__btn button {
        font-size: 1.6rem;
        text-align: right;
    }
    .details-right__btn button {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .info-left {
        width: 45%;
    }
    .info-right {
        width: 45%;
    }
}