
@{
    ViewBag.Title = "Index";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/contact.css">
}


<div class="container-contact">
    <div class="contact-left">
        <div class="contact-left__background">
            <img src="assert/image/background/bg-form.jpg" alt="">
        </div>
        <div class="contact-left__social">
            <a href="">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>


        </div>
    </div>
    <div class="contact-right">
        <div class="contact-right__header">
            <h2 class="contact-right__header--heading">
                Need Help ?
            </h2>
            <p class="contact-right__header--des">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugiat vel sapiente dicta ut officia labore voluptates, rerum aperiam quasi ullam hic illum, quas quidem accusamus deserunt commodi eum architecto.
            </p>
        </div>
        <div class="contact-right__form">
            <form action="">
                <div class="input-contact">
                    <label class="contact-right__form--label">Name</label>
                    <input type="text">
                </div>
                <div class="input-contact">

                    <label class="contact-right__form--label">Email</label>
                    <input type="text">
                </div>

                <div class="input-contact">
                    <label class="contact-right__form--label">Want To Say Something else ?</label>
                    <!-- <input type="text"> -->
                    <textarea></textarea>
                </div>
            </form>
            <div class="contact-right__btn">
                <button>
                    <a>CONTACT</a>
                </button>
            </div>
        </div>

    </div>
</div>

